html {
  margin: 30px;
  background-color: antiquewhite;
}
body {
  background-size: 1440px;
  text-align: center;
  background-color: rgb(248, 186, 105);
}

header {
  padding-top: 50px;
  color: black;
  font-size: 20px;
}
img {
  width: 160px;
  height: 160px;
  margin: auto;
  padding: 15px;
}
p {
  text-align: center;
  margin: auto;
  width: 500px;
}
h4 {
  font-style: italic;
}
footer {
  font-size: 13px;
  font-style: normal;
  border-top: 15px;
  border-color: black;
  padding-top: 15px;
}
details {
  color: blue;
}
summary {
  color: blue;
}
ul {
  box-sizing: border-box;
  height: auto;

  text-align: auto;
}
li {
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  text-align: center;
  margin: 10px;
}
.logo {
  width: 60px;
  height: 75px;
  padding: 0px;
  margin: 0px;
}
.code {
  width: 470px;
  text-align: left;
}
img {
  border-radius: 20px;
}
.li1,
.li2,
.li3,
.li4 {
  text-align: center;
  width: 150px;
}
.skils {
  text-align: center;
}
